<div class="container-fluid main-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="widget-container fluid-height clearfix">
                <div class="heading">
                    <i class="icon-reorder"></i>添加计划
                </div>
                <div class="widget-content padded">
                    <form action="{:U('Profit/Plan/addInsert')}" id="validate-form" method="post" class="form-horizontal">
                            <input id="id" name="id" type="hidden" value="{$Main['id']}"/>
                            <div class="form-group">
                                <fieldset disabled class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-6" for="code">计划编号</label>
                                        <div class="col-md-6">
                                            <input id="code" name="code" class="form-control" placeholder="系统自动生成" type="text" value="{$Main['plan_code']}">
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset disabled class="col-sm-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-4" for="creator">操作员</label>
                                        <div class="col-md-8">
                                            <input id="creator" name="creator" class="form-control" placeholder="系统自动生成" type="text" value="{$Main['creator']}">
                                        </div>
                                    </div>
                                </fieldset>

                                <label class="control-label col-md-1" for="plan_date">计划时间</label>
                                <div class="col-md-2">
                                    <div class="input-group date datepicker" data-date-autoclose="true" data-date-format="yyyy-mm-dd">
                                      <input id="plan_date" name="plan_date" class="form-control" type="text" value="{$Main['plan_date']}">
                                      <span class="input-group-addon"><i class="icon-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2" for="title">标题</label>
                                <div class="col-md-8">
                                    <input id="title" name="title" class="form-control"  type="text" value="{$Main['title']}">
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2" for="memo">备注</label>
                                <div class="col-xs-6 col-sm-8">
                                    <textarea class="form-control" name="memo" rows="2" id="memo">{$Main['memo']}</textarea>
                                </div>
                            </div>
                            <!-- 明细部分 -->
                            <div class="heading">
                                <i class="icon-reorder"></i>添加明细&nbsp;&nbsp;&nbsp;
                                <a href="javascript:;" class="addCp"><i class="icon-plus"></i></a>
                            </div>
                            <div class="head" style="margin-top:-1%;">
                                <div class="form-group">
                                    <label class="control-label col-md-3">成品编码</label>
                                    <label class="control-label col-md-2" style="margin-left:6%;">成品名称</label>
                                    <label class="control-label col-md-2">成品颜色</label>
                                    <label class="control-label col-md-2">数量</label>
                                </div>
                            </div>
                            <foreach name="Bills" item="v">
                            <div class="form-group product" style="margin-bottom:5px;">
                                <a class="btn btn-sm btn-primary-outline control-label pull-left btnDetailRemove" style="position:absolute;z-index:99;margin-left:5%;" href="javascript:;">
                                  <i class="icon-minus"></i>删除明细
                                </a>
                                 <label class="control-label col-md-2"></label>
                                <div class="col-sm-2">
                                  <div class="input-group">
                                    <input class="form-control" type="text" id="cp_code" value="{$v['code']}">
                                    <span class="input-group-btn">
                                        <a id="billSelectcp" class="btn btn-default billSelectcp" type="button" data-toggle="modal" href="#myModalc">请选择</a>
                                    </span>
                                    <input type="hidden" id="cpid" name="cpid[]" value="{$v['cpid']}">
                                    <input type="hidden" id="sonId" name="sonId[]" value="{$v['id']}">
                                  </div>
                                </div>
                                <div class="col-sm-2">
                                    <input class="form-control" type="text" id="cp_name" value="{$v['name']}">
                                </div>
                                <div class="col-sm-2">
                                    <input class="form-control" type="text" id="cp_color" value="{$v['color']}">
                                </div>
                                <div class="col-sm-2">
                                    <input class="form-control" type="text" name="num[]" value="{$v['num']}">
                                </div>
                            </div>
                            </foreach>
                            <div id="contactDiv"></div>
                            <hr>
                            <div class="form-group">
                                <label class="control-label col-md-3"></label>
                                <div class="col-xs-9 col-md-2">
                                    <button class="btn btn-primary" type="submit">保存</button>
                                </div>
                            </div>
                            </form>
                            <!-- 隐藏区域内容 -->
                            <div class="contact2 product">
                                <div class="form-group" style="margin-bottom:5px;">
                                    <a class="btn btn-sm btn-primary-outline pull-left btnDetailRemove" style="position:absolute;z-index:99;margin-left:5%;" href="javascript:;">
                                      <i class="icon-minus"></i>删除明细
                                    </a>
                                    <label class="control-label col-md-2"></label>
                                    <div class="col-sm-2">
                                      <div class="input-group">
                                        <input class="form-control" type="text" id="cp_code" value="">
                                        <span class="input-group-btn">
                                            <a id="billSelectcp" class="btn btn-default billSelectcp" type="button" data-toggle="modal" href="#myModalc">请选择</a>
                                        </span>
                                        <input type="hidden" id="cpid" name="cpid[]" value="">
                                      </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <input class="form-control" type="text" id="cp_name" value="">
                                    </div>
                                    <div class="col-sm-2">
                                        <input class="form-control" type="text" id="cp_color" value="">
                                    </div>
                                    <div class="col-sm-2">
                                        <input class="form-control" type="text" name="num[]" value="">
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 产品选择  -->
<div class="modal fade" id="myModalc">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
        <h4 class="modal-title">
            产品选择
        </h4>
      </div>
      <div id="productListcp">
        <div class="form-group">
          <div class="modal-body">
            <div class="col-md-5">
              <div class="input-group">
                <input id="productKeycp" class="form-control" type="text" placeholder="编码、品牌、颜色、型号"><span class="input-group-btn"><button id="searchList2cp" class="btn btn-default" type="button">搜索</button></span></input>
              </div>
            </div>
            <table class="table table-striped ">
              <tbody id="product"></tbody>
            </table>
            <div class="pull-right" id="page2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<include file="Public:planEditJs" />