<div class="row"> 
  <div class="col-lg-12"> 
    <div class="widget-container fluid-height clearfix">
      <div class="heading">
        <i class="icon-table"></i><a href="{:U('Storehouse/Chengpin/index')}">库存查询</a> 
	    <a href="{:U('Storehouse/Cpruku/index')}" style="margin-left:5%;">成品入库</a> 
	    <a class="btn-primary" href="{:U('Storehouse/Cpchuku/index')}" style="margin-left:5%;padding:4px;border-radius:3px">成品出库</a> 
	    <a class="btn btn-sm btn-primary-outline pull-right" href="{:U('Storehouse/Cpchuku/add')}"> 
          <i class="icon-plus"></i>新增成品出库  
        </a> 
      </div> 
      <div class="widget-content padded clearfix"> 
      <form action="{:U('Storehouse/Cpchuku/index')}" class="form-horizontal" method="post"> 
	    <table class="tab search"> 
	      <tbody> 
	        <tr>
                <td>
                    <select class="form-control" tabindex="1" name="time_kind" id="time_kind" onchange=dateChange(this.value)>
                        <option value="0" <if condition="$time_kind==0">selected="selected"</if>>全部</option>
                        <option value="1" <if condition="$time_kind==1">selected="selected"</if>>本月</option>
                        <option value="2" <if condition="$time_kind==2">selected="selected"</if>>上月</option>
                        <option value="3" <if condition="$time_kind==3">selected="selected"</if>>本年</option>
                    </select>
                </td>
                <td>
                    <input class="form-control" data-date-autoclose="true" data-date-format="yyyy-mm-dd" id="dpd1" name="start_time" placeholder="开始时间" type="text" value="{$start_time}">
                </td>
                <td>
                    <input class="form-control" data-date-autoclose="true" data-date-format="yyyy-mm-dd" id="dpd2" name="end_time" placeholder="结束时间" type="text" value="{$end_time}">
                </td>
                <td><input class="form-control"  name="key" type="text" placeholder="关键字:编号、名称" value="{$key}">
	          <td><button type="submit"  class="btn btn-primary sousuo"><i class="icon-search"></i> 搜索</button></td>
	        </tr>
	      </tbody> 
	    </table> 
	  </form> 
	  </div> 
      <div class="widget-content padded clearfix"> 
        <!-- <table class="table table-bordered table-striped" id="datatable-editable"> -->
        <table class="table table-bordered table-striped">
         <thead>
            <th> 出库时间      </th> 
            <th> 出库编号      </th>
            <th> 操作人    </th>
            <th> 编号      </th> 
            <th> 名称      </th>
            <th> 型号      </th>
            <th> 颜色      </th> 
            <th> 数量      </th>   
            <th> 备注      </th> 
            <th> 操作      </th> 
          </thead> 
          <tbody> 
         	<foreach name="Chuku" item="v"> 
              <tr class="newSon2" style="cursor:pointer;"> 
              	<td style="display:none;"><input type="hidden" class="id" id="id" value="{$v['id']}"/></td>
                <td>{$v['chuku_date']}</td> 
                <td>{$v['chuku_code']}</td>
                <td>{$v['creator']}</td>
                <td>{$v['code']}</td> 
                <td>{$v['name']}</td>
                <td>{$v['proKind']}</td>
                <td>{$v['color']}</td>
                <td>{$v['cnt']}</td> 
                <td>{$v['memo']}</td> 
                 <td> 
				  <div class="action-buttons">
                    <a class="table-actions" href="{:U('Storehouse/Cpchuku/edit',array('id'=>$v['id']))}"><i class="icon-pencil"></i></a>
                    <a class="table-actions" data-toggle="modal" href="#myModal{$v['id']}"><i class="icon-trash"></i></a> 
					  <!--删除模态框 -->
				      <div class="modal fade" id="myModal{$v['id']}"> 
	                    <div class="modal-dialog">
	                      <div class="modal-content">
	                        <div class="modal-header">
	                          <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
	                          <h4 class="modal-title">
	                         	   注意！
	                          </h4>
	                        </div>
	                        <div class="modal-body">
	                          <p>
	                        	  确认删除吗?删除后将不可恢复！！！ 
	                          </p>
	                        </div> 
	                        <div class="modal-footer">
	                          <a class="btn btn-primary" type="button" href="{:U('Storehouse/Cpchuku/delect',array('id'=>$v['id']))}">删除</a>
	                          <button class="btn btn-default-outline" data-dismiss="modal" type="button">取消</button>
	                        </div>
	                   	  </div>
	                    </div>
		              </div>
		              <!-- 模态框结束 --> 
                  </div>
				</td>
              </tr>
            </foreach>  
          </tbody>
        </table>
        <span>
			{$page} 
		</span>
      </div>
    </div>
  </div>
</div>
<include file="Public:datejs" />
<include file="Public:cpchuindexjs" /> 