{__NOLAYOUT__}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{:C('COMPANY_NAME')}</title>

        <meta name="description" content="overview &amp; stats" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- basic styles -->

        <link href="__PUBLIC__/assets/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="__PUBLIC__/assets/css/font-awesome.min.css" />
        <!-- fonts -->
        <link rel="stylesheet" href="__PUBLIC__/assets/css/ace-fonts.css" />
        <!-- ace styles -->
        <link rel="stylesheet" href="__PUBLIC__/assets/css/ace.css" />
        <link rel="stylesheet" href="__PUBLIC__/assets/css/ace-rtl.min.css" />
        <link rel="stylesheet" href="__PUBLIC__/assets/css/ace-skins.min.css" />
        <!--[if lte IE 8]>
          <link rel="stylesheet" href="__PUBLIC__/assets/css/ace-ie.min.css" />
        <![endif]-->
        <!-- inline styles related to this page -->
        <!-- ace settings handler -->

        <script src="__PUBLIC__/assets/js/ace-extra.min.js"></script> 

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

        <!--[if lt IE 9]>
        <script src="__PUBLIC__/assets/js/html5shiv.js"></script>
        <script src="__PUBLIC__/assets/js/respond.min.js"></script>
        <![endif]-->
    </head>
<div class="main-content">
<div class="page-content">
    <!-- <div class="page-header">
                    
                </div>/.page-header -->
    <!-- PAGE CONTENT BEGINS -->
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                           <foreach name="data['head']" item="head">
                               <th>{$head['title']}</th>
                           </foreach>
                        </tr>
                    </thead>
                    <tbody>
                        <foreach name="data['rowset']" item="v">
                            <tr class="odd gradeX">
                                <foreach name="data['head']" key="head" item="name">
                                    <td>{$v[$head]}</td>
                                </foreach>
                            </tr>
                        </foreach>
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
            <div style="clear:both;"></div>
            <div class="pull-left">
            </div>
            {$page}
            <div style="clear:both;"></div>
        </div>
        <!-- /span -->
    </div>
    <!-- /row -->
</div>
<!-- /.page-content -->
</div>
<!-- /.main-content -->


<body>
   
</body>

</html>
