<style type="text/css">
  table.table-content>tbody>tr:nth-child(2n+1)>td{
    background-color: #F8F8F8;
  }
  table.table-content>tbody>tr:nth-child(2n+1).showDetail>td{
    background: linear-gradient(to bottom, white 0,#EEE 1%, #FFF 90%,white 100%);
  }
  table.table-content>tbody>tr>th{
    font-size: 16px;
    border: 0;
  }
  table.table-content>tbody>tr>td{
    font-size: 14px;
    border: 0;
  }
  table.table-content>tbody>tr>td>span{
    font-size:.8em;
    color:black;
  }
  table.table-content>tbody>tr>th.careInfo{
    width: 25%
  }
  table.table-content>tbody>tr>td.careInfo{
    width: 25%
  }
  table.table-content>tbody>tr>td>textarea{
    height: 100%;
    width: 100%;
    border-color: #EEEEEE;
    resize: none;
  }
</style>
<div class="row">
  <div class="col-lg-12"> 
    <div class="widget-container fluid-height clearfix">
      <div class="heading">
          <i class="icon-table"></i>售后服务管理

          <a class="btn btn-sm btn-primary-outline pull-right" href="{:U('Profit/Aftersale/add',array('fromAction'=>'Aftersale'))}">
              <i class="icon-plus"></i>新增
          </a>
          <a class="btn btn-sm btn-primary-outline pull-right" href="{:U('Profit/Aftersale/index',$arr+array('export'=>1))}">导出数据</a>
      </div>
      <div class="widget-content padded clearfix">
      <form action="{:U('Profit/Aftersale/index')}" class="form-horizontal" method="post">
	    <table class="tab search"> 
	      <tbody> 
	        <tr>
                <td>
                    <select class="form-control" tabindex="1" name="time_kind" id="time_kind" onchange=dateChange(this.value)>
                        <option value="0" <if condition="$time_kind==0">selected="selected"</if>>全部</option>
                        <option value="1" <if condition="$time_kind==1">selected="selected"</if>>本月</option>
                        <option value="2" <if condition="$time_kind==2">selected="selected"</if>>上月</option>
                        <option value="3" <if condition="$time_kind==3">selected="selected"</if>>本年</option>
                    </select>
                </td>
                <td>
                    <input class="form-control" style="width:8em;" data-date-autoclose="true" data-date-format="yyyy-mm-dd" id="dpd1" name="start_time" placeholder="开始时间" type="text" value="{$arr['start_time']}">
                </td>
                <td>
                    <input class="form-control" style="width:8em;" data-date-autoclose="true" data-date-format="yyyy-mm-dd" id="dpd2" name="end_time" placeholder="结束时间" type="text" value="{$arr['end_time']}">
                </td>
                <td>
                    <select class="form-control" tabindex="1" name="reviewer" id="reviewer">
                        <option value="0" <if condition="$arr['reviewer']==0">selected="selected"</if>>未审核</option>
                        <option value="1" <if condition="$arr['reviewer']!=0">selected="selected"</if>>已审核</option>
                    </select>
                </td>
                <td>
	            <select class="form-control"  name="store"  name="store">
	              <option value="">选择店铺</option>
	              <foreach name="stores" item="v" key="key"> 
                  <option value="{$key}" <if condition="$arr['store'] == $key">selected="selected"</if> >{$v}</option>
                </foreach> 
	            </select>
	          </td>
            <td>
              <input class="form-control" id="orderId" name="orderId" placeholder="订单号" type="text" value="{$arr['orderId']}">
            </td> 
            <td>
              <input class="form-control" id="uid" name="userName" placeholder="客服姓名" type="text" value="{$arr['userName']}">
            </td> 
           <!--  
            <td>
              <input class="form-control" id="saleID" name="saleID" placeholder="ID" type="text" value="{$arr['saleID']}">
            </td> 
             -->
	          <td><button type="submit"  class="btn btn-primary sousuo"><i class="icon-search"></i> 搜索</button></td>
	        </tr>
	      </tbody>
	    </table> 
	  </form> 
	  </div> 
      <div class="widget-content padded clearfix"> 
        <table class="table table-bordered  table-content">
         <thead>
            <th>日期/客服</th>
            <th>订单信息</th>
            <th class="careInfo">售后问题/处理措施</th>
            <th class="careInfo">后台处理跟进</th>
            <th class="careInfo">客服反馈</th>
            <th>操作</th>
          </thead>
          <tbody> 
         	<foreach name="list" item="v">
              <tr> 
                <td>{$v['date']}<br />{$v['uid']}</td>
                <td><span>店铺: </span>{$v['store']}<br /><span>订单: </span>{$v['orderId']}<br /><span>ID: </span>{$v['saleID']}</td> 
                <td class="careInfo"><span>问题: </span>{$v['saleProblem']}<br /><span>措施: </span>{$v['handleMessuares']}</td> 
                <td class="careInfo"><textarea readonly="readonly">{$v['handleProcess']}</textarea></td>
                <td class="careInfo"><textarea readonly="readonly">{$v['cserviceCallback']}</textarea></td>
                <td>
                  <if condition="$v['edit']!=1">   
                  <div class="action-buttons">
                      <if condition="$v['reviewer']=='0'">
                        <a class="table-actions" href="{:U('Profit/Aftersale/edit',array('id'=>$v['id'],'fromAction'=>'Aftersale'))}"><i class="icon-pencil"></i></a>
                        <a class="table-actions" data-toggle="modal" href="#" onclick = "deleteData({$v['id']},'{:U('Profit/Aftersale/delete')}')"><i class="icon-trash"></i></a>
                      <else/>
                        不可编辑 审核人:{$v['reviewer']}
                      </if>
                  </div>
                   </if>
                </td>
              </tr>
            </foreach>
          </tbody>
        </table>
        <span>
			{$page} 
		</span>
      </div>
    </div>
  </div>
</div>