<div class="container-fluid main-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="widget-container fluid-height">
				<div class="heading tabs">
					<i class="icon-sitemap"></i>客户详情
				</div>
				<div class="tab-content padded" id="my-tab-content">
					<table class="table table-bordered table-hover" id="">
						<thead>
							<tr>
								<th colspan="4">基本信息</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class=" text-right well">公司名称:</td>
								<td>{$client['company']}</td>
								<td class="text-right well">行业类型:</td>
								<td>{$industry_name[$client['industry']]}</td>
							</tr>
							<tr>
								<td class="text-right well">信息来源:</td>
								<td class="">{$source_name[$client['source']]}</td>
								<td class="text-right well">公司规模:</td>
								<td>{$employee_num[$client['industry_size']]}</td>
							</tr>
							<tr>
								<td class="text-right well">业务员:</td>
								<td class="">{$sales_name[$client['salesman']]}</td>
								<td class="text-right well">创建时间：</td>
								<td>{$client['ctime']|date='Y-m-d H:i',###}</td>
							</tr>
							<tr>
								<td class="text-right well">地区:</td>
								<td class="">{:C('province.'.$client['province'])}
									{:C('city.'.$client['city'])} {:C('area.'.$client['area'])}</td>
								<td class="text-right well">详细地址：</td>
								<td>{$client['address']}</td>
							</tr>
							<tr>
								<td class="text-right well">备注:</td>
								<td class="" colspan="3">{$client['memo']}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div style="height: 40px;"></div>
				<div class="tab-content padded contactDiv" id="my-tab-content">
					<if condition="$client['client_contact']">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th colspan="5">联系人</th>
							</tr>
							<tr>
								<th></th>
								<th>姓名</th>
								<th>职位</th>
								<th>手机号</th>
								<th>邮箱</th>
								<th>其他</th>
							</tr>
						</thead>
						<tbody id="contactlist">
							<foreach name="client['client_contact']" item="vo">
							<tr class="trRow">
								<td><a class="table-actions pull-right delectContact" data-toggle="modal" href="javascript:;"><i class="icon-trash"></i></a>
										 <input type="hidden" name="c_id[]"  value="{$vo['id']}"/>	
			                       </td>
								<td>{$vo['contact_name']}</td>
								<td>{$vo['position']}</td>
								<td>{$vo['telephone']}</td>
								<td>{$vo['email']}</td>
								<td>{$vo['contact_memo']}</td>
							</tr>
							</foreach>
						</tbody>
					</table>
					<else /> 暂无联系人信息 </if>
				</div>
				<div style="height: 40px;"></div>
				<div class="tab-content padded" id="my-tab-content">
					<if condition="$client['client_action']">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th colspan="5">客户行动</th>
							</tr>
							<tr>
								<th>行动时间</th>
								<th>行动方式</th>
								<th>行动人</th>
								<th>行动备注</th>
							</tr>
						</thead>
						<tbody>
							<foreach name="client['client_action']" item="vo">
							<tr>
				                <td>{$vo['contact_time']|date='Y-m-d',###}</td> 
				                <td>{$type_name[$vo['contact_type']]}</td> 
				                <td>{$sales_name[$vo['sid']]}</td> 
				                <td>{$vo['memo']}</td>
							</tr>
							</foreach>
						</tbody>
					</table>
					<else /> 暂无行动 </if>
				</div>
			</div>
		</div>

	</div>
</div>
</div>


