
<div class="container-fluid main-content">
	<div class="row">
		<div class="col-lg-12">
			<div class="widget-container fluid-height clearfix">
				<div class="heading">
					<i class="icon-reorder"></i>修改密码
				</div>
				<div class="widget-content padded">
					<form action="{:U('Auth/User/resetPasswordHandle')}" method="post" class="form-horizontal">
						<div class="form-group">
							<label class="control-label col-md-3">原密码</label>
							<div class="col-xs-6 col-sm-4">
								<input class="form-control" type="password" name="old_password">
							</div> 
						</div>
						<div class="form-group">
							<label class="control-label col-md-3">新密码</label>
							<div class="col-xs-6 col-sm-4">
								<input class="form-control" type="password" name="new_password" placeholder="新密码">
							</div> 
						</div>
						<div class="form-group">
							<label class="control-label col-md-3"></label>
							<div class="col-xs-9 col-md-2">
								<button class="btn btn-primary" type="submit">保存</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
